name: Deploy Cloud Functions

on:
  workflow_dispatch:
  push:
    branches:
      - main
    # paths:
    #   - 'functions/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/functions/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Build Cloud Functions
        run: cd functions && npm ci

      - name: Create SA key
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' > $HOME/gcloud.json

      - name: Set GOOGLE_APPLICATION_CREDENTIALS
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud.json" >> $GITHUB_ENV

      - name: Install Firebase Tools
        run: npm i firebase-tools@11.0.0

      - name: Deploy Firebase Functions
        run: firebase deploy --only functions --json
